{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/email_html

    Template for all html emails. Note that it may wrap content formatted
    elsewhere in another a module template.

    This is a very vanilla template which simply shows a white page on
    pale grey with a max width of 600px

    Context variables required for this template:
    * sitefullname
    * siteshortname
    * sitewwwroot
    * subject
    * to
    * toname
    * touserid
    * tousername
    * from
    * fromname
    * replyto
    * replytoname
    * body
    * prefix

    Example context (json):
    {
        "prefix": "[Prefix Text]",
        "body": "Email body"
    }
}}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<style type="text/css">
        {{! CSS email reset for details: http://htmlemailboilerplate.com }}
		#outlook a {padding:0;}
		body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
		.ExternalClass {width:100%;}
		.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
		#backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
        {{! Minimal bootstrap based reset }}
        h1, h2, h3, h4 {
            margin: 8px 0;
        }
        ol, ul, dl {
            margin: 16px 0;
            padding: 0 0 0 24px;
        }
        li {
            margin: 0;
            padding: 0;
        }
        code {
            color: #e83e8c;
            word-break: break-word;
        }
    </style>
</head>
<body bgcolor="#f2f2f2" style="padding: 1px 0 16px; margin: 0; background: #f2f2f2;">

    {{! Very basic wrapper for max width of 600px }}
    <table border="0" cellspacing="0" width="100%">
        <tr>
            <td></td>
            <td width="600" bgcolor="white">
                <div style="padding: 0 16px 16px;">
                    {{{body}}}
                </div>
            </td>
            <td></td>
        </tr>
    </table>

</body>
</html>
